# Required public origin values for deploys.
AUTH_BRIDGE_PUBLIC_BASE_URL=https://auth.bazuka.pp.ua
AUTH_BRIDGE_PUBLIC_BASE_DOMAIN=auth.bazuka.pp.ua

AUTH_BACKEND_IMAGE=lostfilm-auth-bridge:auth-bazuka-pp-ua-amd64
BACKEND_PORT=18015

AUTH_BRIDGE_LOSTFILM_BASE_URL=https://www.lostfilm.today

AUTH_BRIDGE_PAIRING_TTL_SECONDS=600
AUTH_BRIDGE_PAIRING_POLL_INTERVAL_SECONDS=5
AUTH_BRIDGE_CLAIM_LEASE_TTL_SECONDS=60

AUTH_BRIDGE_LOGIN_RATE_LIMIT_MAX_REQUESTS=10
AUTH_BRIDGE_LOGIN_RATE_LIMIT_WINDOW_SECONDS=300
